<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.silverback.lucy.cashlog">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Activities.ActivitySplash"
            android:label="Cashlog"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activities.ActivityMain"
            android:label="CashLog"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".Activities.ActivitySettings"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>

        <activity
            android:name=".Fragments.FragmentHome"
            android:label="Home"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:launchMode="singleTop"/>

        <activity
            android:name=".Fragments.FragmentMoneyIn"
            android:label="Money In"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".Fragments.FragmentMoneyOut"
            android:label="Money out"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".Fragments.FragmentInsert"
            android:label="Money In"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".Fragments.FragmentUpdate"
            android:label="Update"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".Fragments.FragmentHistory"
            android:label="History"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".Fragments.FragmentAbout"
            android:label="About"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".Fragments.FragmentSignUp"
            android:label="Sign Up"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".Fragments.FragmentLogIn"
            android:label="Log In"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

    </application>

</manifest>